# Created by https://www.gitignore.io/api/code,vim

### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/


### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

